[BINANCE]
api_key = ...
secret = ...

[BYBIT]
api_key = ...
secret = ...

[POLYMARKET]
private_key = ...
relayer_key = ...
wallet_address = ...
relayer_address = ...

[ROFEX]
username = ...
password = ...
account = ...
symbols = ...

[PREDEFINED]
symbols = BTC
polyevents = M1 M5 M15 M30 H1